<div class="registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h4 class="acount">アカウントの新規登録</h4>
    <p class="or">or</p>
    <%= link_to 'ログイン', new_user_session_path, class: "registration_login" %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前を入力してください", size: 45 %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Emailを入力してください", size: 45 %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", size: 45 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再度パスワードを入力してください", size: 45 %>
    </div>

    <div class="actions">
      <%= f.submit "アカウント作成", class: "sub_actions" %>
    </div>
  <% end %>
</div>

  <%# <%= render "devise/shared/links" %>
